@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 0 5%;
}

.btn {
    display: inline-block;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 1rem 4rem;
    border-radius: .5rem;
    color: white;
    font-weight: 700;
    font-size: 1.7rem;
    margin-top: 1rem;
}

.home {
    background: url(../img/top-banner.png) no-repeat, left;
    display:flex;
    flex-wrap: wrap;
    gap: 3rem;

}

.home .content {
    flex: 1 1 40rem;
}

.home .content h1:nth-child(1){
    font-size: 4.5rem;
    margin-top: 5rem;
}

.home .content h1:nth-child(2){
    font-size: 4.5rem;
    margin-top: 4rem;
}

.home .content h1:nth-child(2) span{
    color: orange;
}

.home .content h3 {
    font-size: 3rem;
    margin: 2rem 0;
}

.home .content p{
    font-size: 1.7rem;
    color: dimgray;
    line-height: 3rem;
    margin-bottom: 2rem;
    text-transform: none;
}

.home .img {
    flex: 1 1 40rem;
    width: 100%;
}

.home img {
    width: 100%;
}

/******************** DREAM SECTION ******************/

.dream {
    background: url(../img/dream-bg.png) no-repeat right;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.dream .img {
        flex: 1 1 45rem;
}

.dream .img img{
    width: 100%;
}


.dream .content {
    flex: 1 1 45rem;
    padding-right: 2rem;
}

.dream .content h1 {
    font-size: 4.5rem;
    margin-top: 5rem;
}

.dream .content h3 {
    font-size:2rem;
    margin: 2rem 0;
}

.dream .content p {
    font-size: 1.7rem;
    line-height: 3rem;
    color: dimgray;
    margin-bottom: 1rem;
    text-transform: none;
    padding-right:2rem ;
}

/************************ EXPERENCES SECTION **************/

.experience {
    background: url(../img/exp-bg.png) no-repeat left;
    margin-top: 5rem;
}

.experience h1 {
    font-size: 4.5rem;
}

.experience .content-container  {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 5rem;
}

.experience .content-container .content {
    flex: 1 1 30rem;
    width: 100%;
    box-shadow: 1rem 1.5rem 4rem gray;
    padding: 4rem;
}

.experience .content-container .content h2 {
    font-size: 4.5rem;
}

.experience .content-container .content h3 {
    font-size: 2.5rem;
    color: orange;
    margin: 1.5rem 0;
}

.experience .content-container .content p {
    font-size: 1.7rem;
    color: dimgray;
    line-height: 3rem;
    text-transform: none;
    margin-top: 2rem;

}

.copy {
    margin-top: 15rem;
    color: dimgray;
    font-size:1.7rem;
    text-align: center;
    margin-bottom: 1rem;
}